@import "variables";
@import "mixins";

.excel__table {
    height: 100%;
    // position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    // left: 0;
    // right: 0;
    overflow: auto;

    & .row {
        display: flex;

        & .row-info {
            height: $cell-hight;
            background-color: $border-color;
            min-width: $info-cell-width;
            border-bottom: 1px solid #d3d3d3;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .row-data {
            display: flex;
            justify-content: center;
            align-items: center;

            & .column {
                height: $cell-hight;
                min-width: $cell-width;
                padding: 2px 5px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $border-color;
                border-top: 0;
                border-left: 0;
                background-color: #f5f5f5;
            }

            & .cell {
                min-height: $cell-hight;
                width: $cell-width;
                padding: 2px 5px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                border: 1px solid $border-color;
                border-top: 0;
                border-left: 0;
                outline: none;
            }
        }
    }       
}